.valign-top {
  vertical-align: top !important;
}

.btn-one {
  background-color: #F3732A;
}

.about-style2-image-box .overlay-box .button a span:before {
  background-color: #F3732A;
}

a {
  color: #F3732A;
}

.sec-title p {
  color: #F3732A;
}

.breadcrumb-area .inner-content-box .title-s2 span {
  color: #F3732A;
}

.about-style2-text .authorised-info .name p {
  color: #F3732A;
}

.project-info-content .project-info-title:before {
  background-color: #F3732A;
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a {
  color: #F3732A;
}

.how-work-box .how-works-content ul li .text span,
.how-work-box .how-works-content ul li .icon span:before,
.footer-bottom-area .copyright-text p a {
  color: #F3732A;
}

.how-work-box .how-works-content ul li .text h3 {
  color: #F3732A;
}

.sec-text-area .sec-text-lead {
  font-size: 17px;
  padding-bottom: 50px;
}

.sec-text-area .sec-text-big {
  font-size: 15px;
  line-height: 165%;
}

.sec-text-area .sec-text-big > p {
  margin-bottom: 1.2em;
}

@media (min-width: 768px) {
  .sec-text-area .sec-text-big {
    font-size: 22px;
  }
}

.sec-text-area .img-holder {
  margin-bottom: 50px;
}

.breadcrumb-area.style2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  z-index: -1;
}

.header__logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 165px;
  max-height: 30px;
}

@media (min-width: 768) {
  .header__logo {
    width: 165px;
    max-height: unset;
  }
}

.rev_slider > ul li .tp-bgimg {
  position: relative;
}

.rev_slider > ul li .tp-bgimg::after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
}

.products-overview-area .text-holder {
  z-index: 0;
}

.products-overview-area .text-holder > .icon-holder {
  display: none;
}

.products-overview-area .img-holder {
  position: relative;
  overflow: hidden;
  max-height: 250px;
  min-height: 250px;
}

.products-overview-area .img-holder > img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.project-description-area.product-description-area .img-holder,
.project-info-area.product-info-area .img-holder,
.about-us-description-area .img-holder {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 350px;
}

@media (min-width: 1200px) {
  .project-description-area.product-description-area .img-holder,
  .project-info-area.product-info-area .img-holder,
  .about-us-description-area .img-holder {
    max-height: unset;
  }
}

.project-description-area.product-description-area .img-holder > img,
.project-info-area.product-info-area .img-holder > img,
.about-us-description-area .img-holder > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.project-description-area.product-description-area .img-holder {
  overflow: hidden;
  float: none;
  position: relative;
}

@media (min-width: 1200px) {
  .project-description-area.product-description-area .img-holder {
    float: right;
    width: 795px;
    height: 540px;
  }
}

.project-info-area.product-info-area .img-holder {
  overflow: hidden;
  float: none;
  position: relative;
}

@media (min-width: 1200px) {
  .project-info-area.product-info-area .img-holder {
    float: left;
    width: 795px;
    height: 540px;
  }
}

.project-info-area.product-info-area .title > span {
  display: block;
}

.about-us-description-area .img-holder {
  overflow: hidden;
  float: none;
  position: relative;
}

@media (min-width: 1200px) {
  .about-us-description-area .img-holder {
    float: right;
    width: 795px;
    height: 540px;
  }
}

.why-choose-area {
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
}

.why-choose-area::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}

.why-choose-area .single-box.orangebg {
  background-color: #F3732A;
}

.why-choose-area .single-box.orangebg .icon-holder::before {
  background-color: #f79956;
}

.why-choose-area .single-box.orangebg .text-holder > h3 {
  color: white;
}

.why-choose-area .single-box.whitebg .text-holder > h3 {
  color: #F3732A;
}

.why-choose-area .single-box.whitebg .icon-holder::before {
  background-color: #fff4ec;
}

.why-choose-area .single-box.whitebg .icon-holder span::before {
  color: #F3732A;
}

.why-choose-area .single-box.blackbg .text-holder > h3 {
  color: white;
}

.why-choose-area .single-box .text-holder > h3 {
  color: #F3732A;
}

.why-choose-area .why-choose-title ul li::before {
  color: #F3732A;
}

@media (min-width: 1200px) {
  .why-choose-area .why-choose-title {
    height: 100%;
    padding-bottom: 0px;
  }
}

.why-choose-area .why-choose-title .sec-title {
  padding-bottom: 32px;
}

.why-choose-area .why-choose-title .sec-title .title {
  font-size: 22px;
  line-height: 165%;
}

.why-choose-area .why-choose-title .button {
  margin-top: 85px;
  background-color: #F3732A;
}

.why-choose-area .why-choose-title .button::before {
  background-color: #F3732A;
}

.why-choose-area .why-choose-title .button > a.btn-one {
  text-transform: none;
  background-color: #F3732A;
}

.why-choose-area .icon {
  height: 65px;
}

.why-choose-area .icon > img {
  width: 100%;
  max-width: 120px;
}

.testimonial-area .single-testimonial-item .quote-icon {
  background-color: #F3732A;
}

.testimonial-area .single-testimonial-item .client-info {
  padding-bottom: 0;
}

.testimonial-area .single-testimonial-item .img-box {
  display: none;
}

.testimonial-area.testimonial-index {
  padding-bottom: 110px;
}

.recently-project-area .single-project-style1 {
  position: relative;
}

.recently-project-area .single-project-style1 .img-holder {
  width: 100%;
  height: 100%;
  height: 300px;
}

.recently-project-area .single-project-style1 .img-holder > img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.recently-project-area .single-project-style1 .link-box {
  display: none !important;
}

.recently-project-area .single-project-style1 .single-project-link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.recently-project-area.inner-content > .project-row:not(:last-of-type) {
  padding-bottom: 110px;
}

.recently-project-area.inner-content .owl-stage-outer {
  overflow: unset;
}

.recently-project-area.inner-content .owl-dots {
  display: none !important;
}

.recently-project-area.inner-content .single-project-style1 .img-holder {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.recently-project-area.inner-content .single-project-style1 .overlay-content {
  display: none;
  -webkit-transition: none;
  transition: none;
}

.recently-project-area.overview-style {
  padding-top: 70px;
  padding-bottom: 70px;
}

.recently-project-area.overview-style .owl-dots {
  display: none !important;
}

.similar-projects-area.technology-images-area .single-similar-project {
  position: relative;
  z-index: 1;
}

.similar-projects-area.technology-images-area .single-similar-project .img-holder {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.similar-projects-area.technology-images-area .single-similar-project .img-holder > img {
  -webkit-transform: none;
          transform: none;
}

.similar-projects-area.technology-images-area .single-similar-project .img-holder::before {
  display: none;
  content: none;
}

.similar-projects-area.technology-images-area .single-similar-project:hover, .similar-projects-area.technology-images-area .single-similar-project:focus, .similar-projects-area.technology-images-area .single-similar-project:active {
  z-index: 10;
}

.similar-projects-area.technology-images-area .single-similar-project:hover .img-holder, .similar-projects-area.technology-images-area .single-similar-project:focus .img-holder, .similar-projects-area.technology-images-area .single-similar-project:active .img-holder {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.intro-box {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.milestones-area {
  padding-bottom: 110px;
}

.about-us-exposition-area {
  position: relative;
  display: block;
  margin-top: 110px;
  padding: 110px 0 50px;
}
/*# sourceMappingURL=custom.css.map */