$colors:(
    primary: #F3732A,
    primary-accent: #f79956,
    primary-accent-light: #fff4ec,
    dark: #01253E,
    dark-accent: #09355E,
    darkgrey: #27282c,
    darkgrey-accent: #1f1f23,
    darkgrey-light: #565963,
    text-dark: #3a3a3a,
    light: #f6f6f6
);


$primary-col: #F3732A;
$primary-col-accent: #f79956;
$primary-col-accent-light: #fff4ec;
$dark-col: #01253E;
$dark-col-accent: #09355E;
$darkgrey: #27282c;
