// FONTS
$font-size-big: 22px;
$font-size-lead: 17px;
$font-size-body: 15px;

//PADDINGS, MARGINS
$padding-text-small: .85em;
$padding-text-medium: 1.2em;
$padding-text-big: 1.8em;

$padding-smaller: 30px;
$padding-small: 50px;
$padding-medium: 75px;
$padding-big: 110px;
$padding-huge: 160px;
