
// INDEX
.header__logo{
    object-fit: contain;
    width: 165px;
}

// About Us
.intro-box{
    align-items: flex-start;
    // wha
}

.about-us-exposition-area{
    position: relative;
    display: block;
    margin-top: 110px;
    padding: 110px 0 50px;
    
}

.milestones-area{

    // .milestones-sidebar{
    //     position: relative;
    //     display: block;
    //     max-width: 340px;
    //     width: 100%;
    //     z-index: 1;

    //     &::before {
    //         content: "";
    //         position: absolute;
    //         top: -85px;
    //         right: -30px;
    //         bottom: -85px;
    //         width: 1px;
    //         background: #ededed;
    //         z-index: -1;
    //     }
    // }

}
