@import "colors";
@import "sizes";

// Buttons
    .btn-one {
    background-color: $primary-col;
    }

    .about-style2-image-box .overlay-box .button a span:before{
        background-color: $primary-col;
    }

// Color overwrites
    a {
    color: $primary-col;
    }

    .sec-title {
        p {
            color: $primary-col;
        }
    }

    .about-style2-text .authorised-info .name p{
        color: $primary-col;
    }

    .main-menu .navigation > li:hover > a,
    .main-menu .navigation > li.current > a {
    color: $primary-col;
    }

    .how-work-box .how-works-content ul li .text span,
    .how-work-box .how-works-content ul li .icon span:before,
    .footer-bottom-area .copyright-text p a {
    color: $primary-col;
    }

// END Color overwrites

// General Sections Formating
.sec-text-area{

    .sec-text-lead{
        font-size: $font-size-lead;
        padding-bottom: $padding-small;
    }
    
    .sec-text-big{
        font-size: $font-size-body;
        line-height: 165%;
    
        >p{
            margin-bottom: $padding-text-medium;
        }

        @media (min-width: 768px){
            font-size: $font-size-big;
        }
    }

    .img-holder{
        margin-bottom: $padding-small;
    }

}



// Breadcrumb area
.breadcrumb-area.style2{
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .6);
        display: block;
        z-index: -1;
    }
}

// INDEX
    .header__logo {
    object-fit: contain;
    width: 165px;
    }

    .rev_slider {

        > ul li {
            .tp-bgimg {
            position: relative;

                &::after {
                    transition: all 0.3s;
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: 0.6);
                    display: block;
                }
            }
        }
    }
// Products overview area
.products-overview-area{

    .text-holder{
        z-index: 0;

        >.icon-holder{
            display: none;
        }
    }    

    .img-holder{
        position: relative;
        overflow: hidden;
        max-height: 250px;
        min-height: 250px;

        >img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

// Why Choose area
.why-choose-area{

    padding-top: $padding-huge;
    padding-bottom: $padding-huge;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #FFF, $alpha: .65);
    }

    .single-box{
        &.orangebg{
            background-color: $primary-col;

            .icon-holder::before{
                background-color: $primary-col-accent;
            }

            .text-holder>h3{
                color: white;
            }
        }

        &.whitebg{
            .text-holder>h3{
                color: $primary-col;
            }

            .icon-holder::before{
                background-color: $primary-col-accent-light;
            }

            .icon-holder span::before{
                color: $primary-col;
            }
        }

        &.blackbg{
            .text-holder>h3{
                color: white;
            }
        }

        .text-holder{
            >h3{
                color: $primary-col;
            }
        }
    }

    .why-choose-title{

        ul li{
            &::before{
                color: $primary-col;
            }
        }

        @media (min-width: 1200px){
            height: 100%;
            padding-bottom: 0px;
        }

        .sec-title{

            padding-bottom: $padding-smaller;           

            .title{
                font-size: $font-size-big;
                line-height: 165%;               
            }
        }

        .button{
            margin-top: 85px;
            background-color: $primary-col;

            &::before{
                background-color: $primary-col;
            }

            >a.btn-one{
                text-transform: none;
                background-color: $primary-col;
            }
        }
    }

    .icon{        
        height: 65px;

        >img{
            width: 100%;
            max-width: 120px;
        }
    }
}


//Testimonials
.testimonial-area{

    .single-testimonial-item{

        .quote-icon{
            background-color: $primary-col;
        }
        .client-info{
            padding-bottom: 0;
        }
        .img-box{
            display: none;
        }
    }
    &.testimonial-index{
        padding-bottom: 110px;
    }
    
}

// Recently Project

    .recently-project-area{       

        .single-project-style1{
            position: relative;

            .img-holder{
                width:100%;
                height: 100%;
                height: 300px;
    
                >img{
                    object-fit: cover;
                    object-position: center;
                    height:100%;
                    width: 100%;
                }
            }              

            .link-box{
                display: none !important;
            }
            
            .single-project-link{
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;                        
            }            
        }

        &.inner-content{
            
            >.project-row{
                &:not(:last-of-type){
                    padding-bottom: 110px;
                }
            }

            .owl-stage-outer{
                overflow: unset;
            }
            .owl-dots{
                display: none !important;
            }

            .single-project-style1{

                .img-holder{
                    transition: all .3s ease; 
                }

                .overlay-content{
                    display: none;
                    transition: none;
                }                
            }
        }

        

         &.overview-style{
            padding-top: 70px;
            padding-bottom: 70px;

            .owl-dots{
                display: none !important;
            }
        } 


    }


// Similar projects content
.similar-projects-area{
    
    &.technology-images-area{
        
        .single-similar-project{
            position: relative;
            z-index: 1;

            .img-holder{
                transition: all .3s ease;

                >img{
                    transform: none;
                }

                &::before{
                    display: none;
                    content: none;
                }
            }

            &:hover,
            &:focus,
            &:active{
                z-index: 10;
                
                .img-holder{
                    transform: scale(1.3);
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: .15);
                }
            }
        }
    }
}
    

// About Us
.intro-box {
  align-items: flex-start;
  // wha
}

.about-us-exposition-area {
  position: relative;
  display: block;
  margin-top: 110px;
  padding: 110px 0 50px;
}

.milestones-area {
  // .milestones-sidebar{
  //     position: relative;
  //     display: block;
  //     max-width: 340px;
  //     width: 100%;
  //     z-index: 1;

  //     &::before {
  //         content: "";
  //         position: absolute;
  //         top: -85px;
  //         right: -30px;
  //         bottom: -85px;
  //         width: 1px;
  //         background: #ededed;
  //         z-index: -1;
  //     }
  // }
}
