@import "colors";
@import "sizes";
@import "functions";
@import "mixins";

/*==================================================
                GENERAL FORMATTING
====================================================*/
body{
    scroll-behavior: smooth;
}

    // Text Breakers
    .breaktext-sm{
        @media (max-width: $breakpoint-mobile){
            display: inline-block;
        }
    }

    .breaktext-md{
        @include mqTablet{
            display: inline-block;
        }
    }

    .breaktext-lg{
        @include mqMediumScreen{
            display: inline-block;
        }
    }

    .breaktext-xl{
        @include mqLargeScreen{
            display: inline-block;
        }
    }

.valign-top {
    vertical-align: top !important;
}
/*============= END General formatting ==============*/

// Buttons
.btn-one,
.btn-one:hover {
    background-color: color(primary);
}

.btn-one:hover {
    background-color: color(primary) !important;
}

.about-style2-image-box .overlay-box .button a span:before {
    background-color: color(primary);
}

.scroll-to-top,
.scroll-to-top-style2 {
    background-color: color(primary);
    border-color: color(primary);
}

// ENDButtons

// Color overwrites

//ICONS
.icon {
    &:hover {
        color: color(primary) !important;
    }
}

a {
    color: color(primary);
}

.sec-title {
    p {
        color: color(primary);
    }
}

.breadcrumb-area .inner-content-box .title-s2 span {
    color: color(primary);
}

.about-style2-text .authorised-info .name p {
    color: color(primary);
}

.project-info-content .project-info-title:before {
    background-color: color(primary);
}

.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a {
    color: color(primary);
}

.how-work-box .how-works-content ul li .text span,
.how-work-box .how-works-content ul li .icon span:before,
.footer-bottom-area .copyright-text p a {
    color: color(primary);
}

.how-work-box .how-works-content ul li .text h3 {
    color: color(primary);
}

// END Color overwrites

/*==================================================
                        HEADER
====================================================*/

// ALL instances
    .main-menu {

        .navbar-header{
            button{
                &.navbar-toggle{
                    background-color: color(primary);
                    border: none;
                }
            }
        }

        .navbar-collapse {
            
            > .navigation {
                // Dropdown change
                >.dropdown{
                    ul{
                        @include mqSmallScreen{
                            width: 300px;
                            padding: 5px 10px;
                            box-shadow: 0 6px 15px rgba($color: #000000, $alpha: .08);
                        }
                    }
                }

                // Hover color change
                > li {
                    @include LinkSelectorStyle{
                        background-color: color(primary);
                        @include mqSmallScreen {
                            background-color: unset !important;
                        }
                        a {
                            @include LinkSelectorStyle{
                                background-color: color(primary) !important;
                                @include mqSmallScreen {
                                    background-color: unset !important;
                                }
                            }
                        
                        }

                    }

                    &.current > a {
                        background-color: color(primary) !important;
                        @include mqSmallScreen {
                            background-color: unset !important;
                        }
                    }
                }
            }
        }
    }
// END aLL instances

// INDEX header

.header-contact-info li .single-item .text h3 {
    text-transform: none;
}

.main-header {
    .header-upper-style1 {
        &.fixed-header {
            .logo-box-style1 {
                margin: 0;

                @include mqTablet {
                    top: 20px;
                }
            }
        }
    }

    .logo-box-style1 {
        position: absolute;
        left: 10px;
        top: 27px;
        margin: 0;
        padding: 0;

        .header__logo {
            height: 25px;
        }

        @include mqTablet {
            .header__logo {
                height: 35px;
            }
        }
    }

    // HEADER LOWER SECTION
    .header-lower-style1{
        .inner-content {
            border-right: none;
    
            > .header-contact-info {
                border-left: none;
                > li {
                    &:last-child{
                        border: none;
                    }

                    &:hover{
                        .single-item > .icon > span::before{
                                color: color(primary) !important;
    
                        }
                    }
                }
            }
        }
    }
    // # END HEADER LOWER SECTION
}

.main-menu {
    .navigation {
        > li > ul > li {
            > a {
                &:hover {
                    color: color(primary);
                }
                &::after {
                    background: url("/images/icon/dropdown-menu-arrow-orange.png");
                }
            }
        }
    }
}


// END Index header

// Subpages header
.top-bar-style2 {
    background-color: color(darkgrey);

    .top-style2-left {
        p span::before {
            color: color(primary);
        }
    }
    .top-style2-right {
        .top-right-menu {
            padding-right: 0;
            margin-right: 0;
            &::before {
                content: none;
            }

            li a {
                color: white;
            }
        }
    }

    li,
    p,
    .top-style2-left li,
    .top-style2-right li {
        color: white;
    }
}

.main-header {
    .logo-box-style2 {
        margin: 30px 0;

        .header__logo {
            height: 25px;
            width: auto;

            @include mqTablet {
                height: 35px;
            }
        }
    }
}

// ENDSubpages header

/*================= END Header ====================*/



/*==================================================
                  BREADCRUMB AREAS
====================================================*/
    .breadcrumb-area {

        //Technology
        &.breadcrumb-technology{
            background-image: url(../images/projects/pecsi_kodaly/480/VONALSUGARZO_Kodaly_Pecs_004_480px.jpg);

            @include mqTablet{
                background-image: url(../images/projects/pecsi_kodaly/768/VONALSUGARZO_Kodaly_Pecs_004_768px.jpg); 
            }

            @include mqMediumScreen{
                background-image: url(../images/projects/pecsi_kodaly/1024/VONALSUGARZO_Kodaly_Pecs_004_1024px.jpg); 
            }

            @include mqLargeScreen{
                background-image: url(../images/projects/pecsi_kodaly/1680/VONALSUGARZO_Kodaly_Pecs_004_1680px.jpg); 
            }            
        }

        //About us
        &.breadcrumb-aboutus{
            background-image: url(../images/projects/pecsi_kodaly/480/VONALSUGARZO_Kodaly_Pecs_004_480px.jpg);

            @include mqTablet{
                background-image: url(../images/projects/pecsi_kodaly/768/VONALSUGARZO_Kodaly_Pecs_004_768px.jpg); 
            }

            @include mqMediumScreen{
                background-image: url(../images/projects/pecsi_kodaly/1024/VONALSUGARZO_Kodaly_Pecs_004_1024px.jpg); 
            }

            @include mqLargeScreen{
                background-image: url(../images/projects/pecsi_kodaly/1680/VONALSUGARZO_Kodaly_Pecs_004_1680px.jpg); 
            }
        }

        //References
        &.breadcrumb-references{
            background-image: url(../images/projects/pecsi_kodaly/480/VONALSUGARZO_Kodaly_Pecs_004_480px.jpg);

            @include mqTablet{
                background-image: url(../images/projects/pecsi_kodaly/768/VONALSUGARZO_Kodaly_Pecs_004_768px.jpg); 
            }

            @include mqMediumScreen{
                background-image: url(../images/projects/pecsi_kodaly/1024/VONALSUGARZO_Kodaly_Pecs_004_1024px.jpg); 
            }

            @include mqLargeScreen{
                background-image: url(../images/projects/pecsi_kodaly/1680/VONALSUGARZO_Kodaly_Pecs_004_1680px.jpg); 
            }
        }

    }


/*============== END Breadcrumb area ===============*/

// General Sections Formating
.sec-text-area {
    .text:first-of-type {
        padding-top: $padding-small;
    }

    .text {
        padding-bottom: $padding-smaller;

        > p {
            padding-bottom: $padding-text-medium;
        }
    }

    .lead-text {
        font-size: $font-size-big;
        line-height: 165%;
    }

    .sec-text-lead {
        font-size: $font-size-lead;
        padding-bottom: $padding-small;
    }

    .sec-text-big {
        font-size: $font-size-body;
        line-height: 165%;

        > p {
            margin-bottom: $padding-text-medium;
        }

        @include mqTablet {
            font-size: $font-size-big;
        }
    }

    .img-holder {
        margin-bottom: $padding-small;
    }
}

// Breadcrumb area
.breadcrumb-area.style2 {
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        display: block;
        z-index: -1;
    }
}
// END Breadcrumb area

// Footer
.footer-area,
.footer-area.style4 {
    background-color: $darkgrey;
}
.footer-bottom-area,
.footer-bottom-area.style3 {
    background-color: $darkgrey;

    .copyright-text p {
        color: white;
    }
}

.footer-area {
    .footer-shape-bg {
        background: url("/images/footer/footer-shape.png");
    }

    .footer-logo {
        img {
            max-height: 50px;
        }
    }

    .single-footer-widget {
        .services-links ul li a,
        .contact-info-box ul li p,
        .our-info-box .text p,
        .usefull-links ul li a {
            color: white;
        }

        .contact-info-box ul li h6 {
            border-bottom-color: white;
        }

        > .title {
            &::before {
                background-color: white;
            }

            &::after {
                background-color: white;
            }
        }
    }
}

// END footer

// INDEX
.header__logo {
    object-fit: contain;
    width: 165px;
    max-height: 30px;

    @include mqTablet {
        width: 165px;
        max-height: unset;
    }
}

.main-slider {
    .rev_slider {
        .active-revslide .bg-filter {
            opacity: 1;
            transition: all 1s;
        }

        .bg-filter {
            opacity: 0;
            transition: all 1s;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.6);
            display: block;
            z-index: 5 !important;
        }
    }
}

// Technology Area
    .technology-area {
        background-color: color(darkgrey);

        .about-style2-image-box{
            >.slideInUp{
                background-color: color(darkgrey-accent);
            }

            .overlay-box{
                > .title{
                    h1 { 
                        vertical-align: middle;
                        > span {
                            top: -2px;
                            line-height: 18px;
                            vertical-align: baseline;
                         }
                     }
                    
                }
            }
        }

        .about-style2-text{
            >.sec-title{
                >p { color: white; }
                >.title { color: white; }
            }

            >.text >p{
                color: white;
            }
        }

        .text {
            padding-top: $padding-smaller;

            > p {
                &:not(:last-of-type) {
                    padding-bottom: $padding-text-medium;
                }
            }
        }

        .button {
            padding-top: 0;
        }
    }
// END Technology Area

// Products overview area
.products-overview-area {
    .text-holder {
        z-index: 0;

        > .icon-holder {
            display: none;
        }
    }

    .img-holder {
        position: relative;
        overflow: hidden;
        max-height: 250px;
        min-height: 250px;

        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
}

// IMAGES

// Products Page
.project-filter li:hover .filter-text,
.project-filter li.active .filter-text,
.filter-text .count {
    color: color(primary) !important;
}
.project-description-area.product-description-area,
.project-info-area.product-info-area,
.about-us-description-area {
    .img-holder {
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 350px;

        @include mqMediumScreen {
            max-height: unset;
        }

        > img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.project-description-area.product-description-area {
    .img-holder {
        overflow: hidden;
        float: none;
        position: relative;

        @include mqMediumScreen {
            float: right;
            width: 795px;
            height: 540px;
        }
    }
}

.project-info-area.product-info-area {
    .img-holder {
        overflow: hidden;
        float: none;
        position: relative;

        @include mqMediumScreen {
            float: left;
            width: 795px;
            height: 540px;
        }
    }
}

.project-info-area.product-info-area {
    .title > span {
        display: block;
    }
}

.about-us-description-area {
    .img-holder {
        overflow: hidden;
        float: none;
        position: relative;

        @include mqMediumScreen {
            float: right;
            width: 795px;
            height: 540px;
        }
    }
}

// Why Choose area
.why-choose-area {
    padding-top: $padding-huge;
    padding-bottom: $padding-huge;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #fff, $alpha: 0.65);
    }

    .single-box {
        &.orangebg {
            background-color: color(primary);

            .icon-holder::before {
                background-color: color(primary-accent);
            }

            .text-holder > h3 {
                color: white;
            }
        }

        &.whitebg {
            .text-holder > h3 {
                color: color(primary);
            }

            .icon-holder::before {
                background-color: color(primary-accent-light);
            }

            .icon-holder span::before {
                color: color(primary);
            }
        }

        &.blackbg {
            .text-holder > h3 {
                color: white;
            }
        }

        .text-holder {
            > h3 {
                color: color(primary);
            }
        }
    }

    .why-choose-title {
        ul li {
            &::before {
                color: color(primary);
            }
        }

        @include mqMediumScreen {
            height: 100%;
            padding-bottom: 0px;
        }

        .sec-title {
            padding-bottom: $padding-smaller;

            .title {
                font-size: $font-size-big;
                line-height: 165%;
            }
        }

        .button {
            margin-top: 85px;
            background-color: color(primary);

            &::before {
                background-color: color(primary);
            }

            > a.btn-one {
                text-transform: none;
                background-color: color(primary);
            }
        }
    }

    .icon {
        height: 65px;

        > img {
            width: 100%;
            max-width: 120px;
        }
    }
}

//Testimonials
.testimonial-area {
    .single-testimonial-item {
        .quote-icon {
            background-color: color(primary);
        }
        .client-info {
            padding-bottom: 0;
        }
        .img-box {
            display: none;
        }
    }
    &.testimonial-index {
        padding-bottom: 110px;
    }
}

// Recently Project
.recently-project-area {
    .single-project-style1 {
        position: relative;

        .img-holder {
            width: 100%;
            height: 100%;
            height: 300px;

            > img {
                object-fit: cover;
                object-position: center;
                height: 100%;
                width: 100%;
            }
        }

        .link-box {
            display: none !important;
        }

        .single-project-link {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 100;
        }
    }

    &.inner-content {
        > .project-row {
            &:not(:last-of-type) {
                padding-bottom: 110px;
            }
        }

        .owl-stage-outer {
            overflow: unset;
        }
        .owl-dots {
            display: none !important;
        }

        .single-project-style1 {
            .img-holder {
                transition: all 0.3s ease;
            }

            .overlay-content {
                display: none;
                transition: none;
            }
        }
    }

    &.overview-style {
        padding-top: $padding-big;
        padding-bottom: 70px;

        .owl-dots {
            display: none !important;
        }
    }
}

// Similar projects content


.similar-projects-area {
    position: relative;

    //Similar Projects Area -- General
    .img-holder{
        height: 265px;

        &::before{
            // Removes sliding effect
            content: none;
        }

        >img{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    // Similar Projects Area -- Subsites
    &.similar-projects-subsite{
        &.dark{
            background-color: color(darkgrey-accent);

            &::before{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 360px;
                background: url(../images/footer/footer-shape.png);
                background-position: top;
                background-repeat: no-repeat;
                background-size: initial;
            }

            .similar-projects-content{
                .similar-project-title > h2 { color: white }
                .title-holder{
                    h3, h3 > a { color: white; }
                }
            }
        }
    }

    // Similar Projects Area -- Technology
    &.technology-images-area {
        .single-similar-project {
            position: relative;
            z-index: 1;

            .img-holder {
                transition: all 0.3s ease;

                > img {
                    transform: none;
                }

                &::before {
                    display: none;
                    content: none;
                }
            }

            &:hover,
            &:focus,
            &:active {
                z-index: 10;

                .img-holder {
                    transform: scale(1.3);
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.15);
                }
            }
        }
    }
}


// About Us
.intro-box {
    align-items: flex-start;
}

.milestones-area {
    padding-bottom: $padding-big;
}

.about-us-exposition-area {
    position: relative;
    display: block;
    margin-top: 110px;
    padding: 110px 0 50px;
}
